.info-box {
    background-color: white;
    opacity: 0.7;
    padding: 1em;
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20000;
}

#row {
    width: 100%;
}

#wrapper {
    position: relative;
    width: 100%;
}

@media only screen and (min-width: 45em) {
    #flight-status {
        float: left;
        min-height: 170px;
        width: 40%;
    }
    #offer {
        float: right;
        min-height: 170px;
        width: 50%;
    }
    #org-dest-selector {
        float: left;
        margin-top: 25px;
        width: 100%;
    }
    #row {
        margin: auto;
        margin-top: 50px;
        width: 90%;
    }
}

@media only screen and (min-width: 60em) {
    #flight-status {
        width: 40%;
    }
    #offer {
        width: 40%;
    }
    #org-dest-selector {
        width: 40%;
    }
}