<div class="container">
    <div class="row mt-5">
        <div class='col-2 '>Results</div>
        <div class='col-10 border border-primary' id='output1'>{{results}}</div>
    </div>
    <!-- DoNow 1: Remove the comments around this block <div class="row">
        <div class='col-2 '>Async pipe: </div>
        <div class='col-10 border border-primary' id='output2'>{{observable}}</div>
    </div>-->    
    <div class="row">
        <div class='col-2 '>Observable 1: </div>
        <div class='col-10 border border-primary' id='output2'>{{opObs1}}</div>
    </div>
    <div class="row">
        <div class='col-2 '>Observable 2: </div>
        <div class='col-10 border border-primary' id='output3'>{{opObs2}}</div>
    </div>
    <div class="row">
        <div class='col-2 '>Observable 3: </div>
        <div class='col-10 border border-primary' id='output4'>{{opObs3}}</div>
    </div>
    <div class="row  mt-3">
        <div id='info' class="border border-primary bg-info text-white rounded">{{info}}</div>
    </div>
    <div class="row mt-3">
        <h3 class='col-4'>&nbsp;</h3>
        <div class='col-5'>
            <button class="btn btn-success" (click)='doNow()'>Do Now</button>
        </div>
        <div class='col-3'>
            <button class="btn btn-danger" id='eventBut'>Event Button</button>
        </div>
    </div>
    <div class="row mt-3">
        <h3 class='col-4'>Generators:</h3>
        <div class='col-6'>
            <button class="btn btn-outline-primary" (click)='timer()'>Timer</button>
            <button class="btn btn-outline-primary" (click)='generate()'>Generate</button>
            <button class="btn btn-outline-primary" (click)='event()'>Event</button>
        </div>
    </div>
    <div class="row mt-3">
        <h3 class='col-4'>Join Operators:</h3>
        <div class='col-8'>
            <button class="btn btn-outline-primary" (click)='merge()'>Merge</button>
        </div>
    </div>
    <div class="row mt-3">
        <h3 class='col-4'>Raw Higher Order:</h3>
        <div class='col-8'>
            <button class="btn btn-outline-primary" (click)='higherOrder()'>Higher Order</button>
            <button class="btn btn-outline-primary" (click)='higherOrderNestedSubscription()'>Higher Order Nested Sub</button>

        </div>
    </div>
    <div class="row mt-3">
        <h3 class='col-4'>Higher Order Join Operators:</h3>
        <div class='col-8'>
            <button class="btn btn-outline-primary" (click)='concatAll()'>Concat All</button>
            <button class="btn btn-outline-primary" (click)='mergeAll()'>Merge All</button>
            <button class="btn btn-outline-primary" (click)='exhaust()'>Exhaust</button>
        </div>
    </div>
    <div class="row mt-3">
        <h3 class='col-4'>Transform Operators:</h3>
        <div class='col-6'>
            <button class="btn btn-outline-primary" (click)='pairwise()'>Pairwise</button>
            <button class="btn btn-outline-primary" (click)='map()'>Map</button>
            <button class="btn btn-outline-primary" (click)='mapTo()'>Map To</button>
        </div>
    </div>

    <div class="row mt-3">
        <h3 class='col-4'>Filter Operators:</h3>
        <div class='col-6'>
            <button class="btn btn-outline-primary" (click)='filter()'>Filter</button>
            <button class="btn btn-outline-primary" (click)='distinct()'>Distinct</button>
        </div>
    </div>

    <div class="row mt-3">
        <h3 class='col-4'>Aggregation Operators:</h3>
        <div class='col-6'>
            <button class="btn btn-outline-primary" (click)='reduce()'>Reduce</button>
            <button class="btn btn-outline-primary" (click)='min()'>Min</button>
            <button class="btn btn-outline-primary" (click)='count()'>Count</button>
        </div>
    </div>
    <div class="row mt-3">
        <div>
            <button class="btn btn-outline-success" (click)='clearOutput()'>Clear Output</button>
        </div>
        <div>
            <button class="btn btn-outline-danger" (click)='stop()'>Unsubscribe</button>
        </div>
    </div>


</div>