<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item" ><a class="nav-link" href="#">Buy Flights</a></li>
      <li class="nav-item" ><a class="nav-link" href="#">My Flights</a></li>
      <li class="nav-item" ><a class="nav-link" href="#">Account</a></li>
    </ul>
  </div>
</nav>

<main class="container-fluid">
<app-home></app-home>
</main>
