<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<h2>Content below here is from the ForecastComponent...</h2>
<!-- put <app-forecast> element below here-->
<app-forecast></app-forecast>