<div class="container">
  <h1>Your Preferences</h1>
  <form #theForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" required name="name" id="name" [(ngModel)]='model.name' >

    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" required [(ngModel)]="model.location" name="location" id="location">

    </div>


    <div class="form-group">
      <label for="tempUnits">Temperature Units</label>
      <select class="form-control" required [(ngModel)]="model.temperatureUnits" name="temperatureUnits" id="tempUnits">
        <option *ngFor="let unit of temperatureUnits" [value]="unit">{{unit}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="speedUnits" >Speed Units</label>
      <select class="form-control" required [(ngModel)]="model.speedUnits" name="speedUnits" id="speedUnits">
        <option *ngFor="let unit of speedUnits" [value]="unit">{{unit}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="forecastLength" >Forecast Length</label>
      <input type="text" class="form-control" [(ngModel)]="model.forecastLength" name="forecastLength" id="forecastLength">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default" [disabled]="!theForm.form.valid">Submit</button>
    </div>
  </form>
  <pre>{{model | json}}</pre>
</div>
