<button [disabled]="buttonDisabled" id="updateButton" (click)="onClick()">Update Weather</button>
<button [disabled]="!buttonDisabled" id="otherButton" (click)="onClickOther()">Enable Other	Button</button>