<div class="container">
  <h1>Your Preferences</h1>

  <form #theForm="ngForm" >
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" class="form-control" required name="name" >

    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input id="location" type="text" class="form-control" required [(ngModel)]="model.location" name="location" >

    </div>


    <div class="form-group">
      <label for="tempUnits">Temperature Units</label>
      <select id="tempUnits" class="form-control" required [(ngModel)]="model.temperatureUnits" name="temperatureUnits">
        <option *ngFor="let unit of temperatureUnits" [value]="unit">{{unit}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="speedUnits" >Speed Units</label>
      <select id="speedUnits" class="form-control" required [(ngModel)]="model.speedUnits" name="speedUnits">
        <option *ngFor="let unit of speedUnits" [value]="unit">{{unit}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="forecastLength" >Forecast Length</label>
      <input id="forecastLength" type="text" class="form-control" [(ngModel)]="model.forecastLength" name="forecastLength">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default" [disabled]="!theForm.form.valid">Submit</button>
    </div>
  </form>
  <br/>
  <div class="form-group">
  <button class="btn btn-primary" (click)="onHide()">Hide</button>
  <button class="btn btn-primary" (click)="onShow()">Show</button>
  </div>

</div>

