/*
.ng-valid[required] {
  border-left: 5px solid #42A948;
}

.ng-invalid {
  border-left: 5px solid #a94442;
}
*/

/*
.ng-valid[required] {
  border-left: 5px solid #42A948;
}

form *.ng-invalid {
  border-left: 5px solid #a94442;
}


*/

form {
  width: 30em;
  margin-left: 2em;
  border-color: #1b6d85;
  border-width:2px;
  border-style: double;
  padding:3em;
}

label {
  color: #B4886B;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
}
label:after { content: ": " }

input, select {
  float: right;
  width: 20em;
}

.form-group {
  padding-top: 1em;
  margin-bottom: 1em;
  clear: both;

}

form button {
  float: right;
}


