<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>My Account</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    STATIC TEST DATA SHOULD DISPLAY
<form #accountForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ngControl="firstName">
    </div>
    <!--<div *ngIf="accountForm.controls['firstName'].valid" class="col-sm-1"><img src="images/checkmark.png"/></div>-->
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Family Name:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ngControl="familyName">
    </div>
    <!--<div *ngIf="accountForm.controls['familyName'].valid" class="col-sm-1" ><img src="images/checkmark.png"/></div>-->
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ngControl="email">
    </div>
    <!--<div *ngIf="accountForm.controls['email'].valid" class="col-sm-1"><img src="images/checkmark.png"/></div>-->
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Address Line 1:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ngControl="address1">
    </div>
    <!--<div *ngIf="accountForm.controls['address1'].valid" class="col-sm-1" ><img src="images/checkmark.png"/></div>-->
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Address Line 2:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ngControl="address2">
    </div>
    <!--<div *ngIf="accountForm.controls['address1'].valid" class="col-sm-1" ><img src="images/checkmark.png"/></div>-->
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Town / City:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ngControl="city">
    </div>
    <!--<div *ngIf="accountForm.controls['city'].valid" class="col-sm-1" ><img src="images/checkmark.png"/></div>-->
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Post Code / Zip Code:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ngControl="postCode">
    </div>
    <!--<div *ngIf="accountForm.controls['postCode'].valid" class="col-sm-1" ><img src="images/checkmark.png"/></div>-->
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button [class.disabled]="!accountForm.valid" type="submit" [disabled]="!accountForm.valid">Submit</button>
    </div>
  </div>
</form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>





<pre>{{value.firstName}}</pre>
