<div class="row">
    <div class="col-md-2 ">
        Filter flights by {{label}}:
    </div>
    <div class="col-md-2 ">
        <input #filter (keyup)="onFilterEnter(filter.value)" [value]="initialValue">
    </div>
</div>