<div *ngIf="selectedFlight">
    <h3>Purchase this flight</h3>
    <div class="row">
      <div class="col-md-2 col-xs-4 form-label">Flight Number : </div>
      <div class="col-md-1 col-xs-8">{{selectedFlight?.flightNumber}}</div>
      <div class="col-md-1 col-xs-4 form-label">Origin&nbsp;:</div>
      <div class="col-md-1  col-xs-8">{{selectedFlight?.origin}}</div>
      <div class="col-md-1 col-xs-4 form-label">Destination&nbsp;:</div>
      <div class="col-md-1  col-xs-8">{{selectedFlight?.destination}}</div>
    </div>
    <div class="row">
      <h4 class="col-md-1 col-xs-4 form-label">Departure: </h4>
    </div>
    <div class="row">
      <div class="col-md-1 col-xs-4 form-label">Day: </div>
      <div class="col-md-1 col-xs-8">{{selectedFlight?.departDay}}</div>
      <div class="col-md-1 col-xs-4 form-label">Time: </div>
      <div class="col-md-1  col-xs-8">{{selectedFlight?.departTime}}</div>
    </div>
    <div class="row">
      <h4 class="col-md-1 col-xs-4 form-label">Arrive: </h4>
    </div>
    <div class="row">
      <div class="col-md-1 col-xs-4 form-label">Day: </div>
      <div class="col-md-1  col-xs-8">{{selectedFlight?.arriveDay}}</div>
      <div class="col-md-1 col-xs-4 form-label">Time: </div>
      <div class="col-md-1  col-xs-8">{{selectedFlight?.arriveTime}}</div>
    </div>
    </div>