<p>
  Our marketing team are working on some great special offers for you. Please check back...
</p>

<p><i>Special offer injected with content projection</i></p>
  <h1 class="specialoffer"><ng-content></ng-content></h1>

