<div class="container">
  <h1>Your Preferences</h1>
  <h1 *ngIf="error">{{error}}</h1>
  <form (ngSubmit)="onSubmit()" #theForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" required [(ngModel)]="model.name" name="name" #spy #name="ngModel" ngControl="name">
      TODO: remove this: {{spy.className}}
      <div [hidden]="name.valid || name.pristine || name.touched " class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" required [(ngModel)]="model.location" name="location" >

    </div>


    <div class="form-group">
      <label for="tempUnits">Temperature Units</label>
      <select class="form-control" required [(ngModel)]="model.temperatureUnits" name="temperatureUnits">
        <option *ngFor="let unit of temperatureUnits" [value]="unit">{{unit}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="speedUnits" >Speed Units</label>
      <select class="form-control" required [(ngModel)]="model.speedUnits" name="speedUnits">
        <option *ngFor="let unit of speedUnits" [value]="unit">{{unit}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="forecastLength" >Forecast Length</label>
      <input type="text" class="form-control" [(ngModel)]="model.forecastLength" name="forecastLength">
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!theForm.form.valid">Submit</button>
  </form>


  {{jsonData}}
</div>
