.container {
    width: 90%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.instructions {
    border:2px solid #B4886B;
    padding: 10px;
}

.next-steps {
    font-style: italic;
}

span.output {
    font-weight: bold;
}

p {
    color: #1b6d85;
}