<div class="container">
    <header>
        <h1>Pseudo Keys Example</h1>
    </header>
    <div class="instructions">
        <p >Type some data into the field below and see what happens! <br><span class="next-steps">You will need to make some changes to the code to get the first field to populate</span></p>

        <!-- TODO add keyup.enter event binding to the <input> element-->
        <input id="userInput" #userInput 
        (keyup)="allKeys=userInput.value" placeholder="Type in here and hit enter" class="form-control"
        size="50">        
    </div>

    <p id="outputEnter" class="text-primary">Value when enter pressed appears here: [<span class="output">{{user}}</span>]</p>
    <p id="outputAll" class="text-primary">Every key pressed appears here [<span class="output">{{userInput.value}}</span>] (Using the reference variable)</p>
    <p id="outputAllKeys" class="text-primary">Every key pressed appears here too: [<span class="output">{{allKeys}}</span>] (Using the allKeys field)</p>
</div>