<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button (click)='toggleNavbar()' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }"  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" ><a class="nav-link" routerLink='/home'>Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink='/buy'>Buy Flights</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink='/myflights'>My Flights</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink='/account'>Account</a></li>
    </ul>
    <span class="label label-primary" appTime='grey'></span>
  </div>
</nav>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
-->
<mat-toolbar color="primary">
  <mat-icon (click)="nav.toggle()">menu</mat-icon>
  <span class='title'>FlySharp</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #nav>
    <mat-nav-list>
      <a mat-list-item class="nav-link" routerLink='/home'>Home</a>
      <a mat-list-item class="nav-link" routerLink='/buy'>Buy Flights</a>
      <a mat-list-item class="nav-link" routerLink='/myflights'>My Flights</a>
      <a mat-list-item class="nav-link" routerLink='/account'>Account</a>
   </mat-nav-list>    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>    
  </mat-sidenav-content>
</mat-sidenav-container>