<div class="row">
    <div class="col-3 ">
        Filter flights by {{label}}:
    </div>
    <div class="col-4 ">
        <input #filter (keyup)="onFilterEnter(filter.value)" [value]='initialValue'>
    </div>
</div>